<!DOCTYPE html>
<html>

<head>
    <title>Task 6 - AngularJS Student Form</title>
    <style>
        body {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .code-block {
            background: #f4f4f4;
            padding: 15px;
            border-left: 3px solid #3498db;
        }

        .execution {
            background: #e8f4fc;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>Task 6: AngularJS Student Form</h1>

    <div class="code-block">
        <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"&gt;&lt;/script&gt;
&lt;body&gt;

&lt;h1&gt;Student Information&lt;/h1&gt;
&lt;div ng-app="myApp" ng-controller="formCtrl"&gt;
  &lt;form novalidate&gt;
    First Name:&lt;br&gt;
    &lt;input type="text" ng-model="student.firstName"&gt;&lt;br&gt;
    Last Name:&lt;br&gt;
    &lt;input type="text" ng-model="student.lastName"&gt;&lt;br&gt;
    DoB:&lt;br&gt;
    &lt;input type="date" id="dob" ng-model="student.DoB"&gt;&lt;br&gt;
    Gender:&lt;br&gt;
    &lt;select id="gender" ng-model="student.gender"&gt;
      &lt;option value="male"&gt;Male&lt;/option&gt;
      &lt;option value="female"&gt;Female&lt;/option&gt;
    &lt;/select&gt;&lt;br&gt;
    Training Type:&lt;br&gt;
    &lt;label&gt;&lt;input value="online" type="radio" name="training" 
      ng-model="student.trainingType" /&gt;Online&lt;/label&gt;&lt;br&gt;
    &lt;label&gt;&lt;input value="onsite" type="radio" name="training" 
      ng-model="student.trainingType" /&gt;OnSite&lt;/label&gt;&lt;br&gt;
    Subjects:&lt;br&gt;
    &lt;label&gt;&lt;input type="checkbox" ng-model="student.maths" /&gt;Maths&lt;/label&gt;&lt;br&gt;
    &lt;label&gt;&lt;input type="checkbox" ng-model="student.physics" /&gt;Physics&lt;/label&gt;&lt;br&gt;
    &lt;label&gt;&lt;input type="checkbox" ng-model="student.chemistry"/&gt;Chemistry&lt;/label&gt;&lt;br&gt;
    &lt;br&gt;
    &lt;button type="button" onclick="alert('Student saved successfully')"&gt;SUBMIT&lt;/button&gt;
    &lt;button ng-click="reset()"&gt;RESET&lt;/button&gt;
  &lt;/form&gt;
  &lt;p&gt;form = {{student}}&lt;/p&gt;
&lt;/div&gt;

&lt;script&gt;
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.master = {};
    $scope.reset = function() {
        $scope.student = angular.copy($scope.master);
    };
    $scope.reset();
});
&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>

    <div class="execution">
        <h3>How to Execute:</h3>
        <ol>
            <li>Save as <code>task6.html</code></li>
            <li>Open in web browser</li>
            <li>Features:
                <ul>
                    <li>All form fields bound to AngularJS model</li>
                    <li>RESET button clears form</li>
                    <li>SUBMIT shows alert</li>
                    <li>Live JSON preview at bottom</li>
                </ul>
            </li>
        </ol>
    </div>
</body>

</html>